# Contents List

01. Import libraries
02. Import and inspect data
03. Merge dataframes
04. Export merge as pkl

# 01. Import Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# 02. Import and inspect data

In [2]:
# create shortcut for data imports
path = r'C:\Users\jacym\Desktop\Career Foundry projects\04-2023 Instacart basket analysis'

In [4]:
# import checked orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'all_orders_checked.csv'), index_col = False)

In [3]:
# import new data - order_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'order_products_prior.csv'), index_col = False)

In [4]:
# consistency checks- blanks
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [5]:
# check for duplicates
df_ords_prior_dups = df_ords_prior[df_ords_prior.duplicated()]

In [6]:
# check for duplicates
df_ords_prior_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [7]:
# check summary statistics
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [8]:
# check out orders with high add_to_cart_order values
df_ords_prior[df_ords_prior['add_to_cart_order']> 50.0]

          order_id  product_id  add_to_cart_order  reordered
11332         1171        2677                 51          1
11333         1171        6583                 52          1
11334         1171       45636                 53          1
11335         1171       38652                 54          1
11336         1171       29627                 55          1
...            ...         ...                ...        ...
32423239   3419937       21616                 64          0
32425187   3420120       27243                 51          1
32425188   3420120         651                 52          1
32425189   3420120       42736                 53          0
32425190   3420120       35988                 54          1

[26359 rows x 4 columns]

# Note: It looks like this column represents the order in which the item was added to the virtual cart, so the high values are only present for very large orders. Check out one large order to confirm...

In [10]:
df_ords_prior[df_ords_prior['order_id'] == 1171]

       order_id  product_id  add_to_cart_order  reordered
11282      1171       43086                  1          1
11283      1171       47209                  2          1
11284      1171       49683                  3          0
11285      1171       24852                  4          1
11286      1171       22825                  5          1
...         ...         ...                ...        ...
11338      1171       25718                 57          1
11339      1171        3913                 58          1
11340      1171       42356                 59          1
11341      1171        4656                 60          0
11342      1171       18660                 61          0

[61 rows x 4 columns]

# Confirmed- column value increases as customer adds items.

In [6]:
# check output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.shape

(3421083, 6)

In [9]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 03. Merge dataframes

In [10]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merged_large.shape

(32434489, 10)

# 04. Export data as pkl

In [13]:
# export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))