# Contents List

01. Import libraries and data
02. Check data types
03. Merge data
04. Export merged data

# 01. Import libraries and data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create shortcut for data imports
path = r'C:\Users\jacym\Desktop\Career Foundry projects\04-2023 Instacart basket analysis'

In [3]:
# import customer data
df_customers = pd.read_pickle(os.path.join(path, '02 Data','Prepared data', 'customers_wrangled.pkl'))

In [4]:
# import orders data
df_orders = pd.read_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_merged_grouped.pkl'))

# 02. Check data types

In [5]:
df_orders.dtypes

order_id                    object
user_id                     object
order_number                  int8
order_day_of_week             int8
order_hour_of_day             int8
days_since_prior_order     float32
product_id                   int32
add_to_cart_order            int16
reordered                     int8
product_name                object
aisle_id                     int16
department_id                 int8
prices                     float32
_merge                    category
price_range_loc             object
busiest_days                object
busiest_period_of_day       object
max_order                     int8
loyalty_flag                object
avg_price                  float32
spending_flag               object
order_frequency            float32
frequency_flag              object
dtype: object

In [7]:
# drop extra merge column
df_orders = df_orders.drop(columns = '_merge')

# 03. Merge data

In [8]:
orders_customers_merged = df_orders.merge(df_customers, on = 'user_id', indicator = True)

In [9]:
orders_customers_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [10]:
orders_customers_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order_frequency,frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both

In [11]:
# drop merge column
orders_customers_merged = orders_customers_merged.drop(columns = '_merge')

# 04. Export merged data

In [12]:
# export merged data
orders_customers_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_customers_merged.pkl'))