# Contents List

(continued from 4.10 part 1a Regions)
04. Create exclusion flag for low-activity customers

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create shortcut for data imports
path = r'C:\Users\jacym\Desktop\Career Foundry projects\04-2023 Instacart basket analysis'

In [3]:
# import data
df = pd.read_pickle(r'C:\Users\jacym\Desktop\Career Foundry projects\04-2023 Instacart basket analysis\02 Data\Prepared data\orders_customers_regions.pkl')

# 04. Create exclusion flag for low-activity customers

In [4]:
# loc: create exclusion flag with two labels, each in separate cell
# label 1: active
df.loc[df['max_order'] >= 5, 'low_activity_flag'] = 'Active customer'

In [5]:
# label 2: inactive
df.loc[df['max_order'] < 5, 'low_activity_flag'] = 'Inactive customer'

In [6]:
# check
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,product_name,department_id,...,frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,region,low_activity_flag
0,2539329,1,1,2,8,NaN,196,1,Soda,7,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer
1,2398795,1,2,3,7,15.0,196,1,Soda,7,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer
2,473747,1,3,3,12,21.0,196,1,Soda,7,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer
3,2254736,1,4,4,7,29.0,196,1,Soda,7,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer
4,431534,1,5,4,15,28.0,196,1,Soda,7,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer

In [7]:
# check frequency on new exclusion flag column
df['low_activity_flag'].value_counts()

Active customer      30964564
Inactive customer     1440295
Name: low_activity_flag, dtype: int64

In [8]:
# create new version of df dropping all rows of inactive customers
df_active = df[df.low_activity_flag != 'Inactive customer']

In [9]:
# rows in active df match active customer count, so the drop was successful
df_active.shape

(30964564, 27)

In [10]:
# export active df
df_active.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_customers_merged_active.pkl'))